root = true
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.lua]
indent_style = space
indent_size = 4

[*.{sh,bash,zsh}]
# (shfmt: -i 2 -ci)
indent_style = space
indent_size = 2
binary_next_line = false
switch_case_indent = true
space_redirects = false
keep_padding = false
function_next_line = false
